services:
  db:
    image: mariadb:11
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: wordpress
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: wordpress

  wordpress:
    image: wordpress:6.7
    depends_on:
      - db
      - mailpit
    ports:
      - "8080:80"
    volumes:
      - wp_data:/var/www/html
      - .:/var/www/html/wp-content/plugins/join-flow-gmtu
      - ./docker/mu-plugins/mailpit.php:/var/www/html/wp-content/mu-plugins/mailpit.php
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress

  mailpit:
    image: axllent/mailpit
    ports:
      - "8025:8025"
      - "1025:1025"

  wpcli:
    image: wordpress:cli
    depends_on:
      - db
      - wordpress
    volumes:
      - wp_data:/var/www/html
      - .:/var/www/html/wp-content/plugins/join-flow-gmtu
      - ./docker/mu-plugins/mailpit.php:/var/www/html/wp-content/mu-plugins/mailpit.php
      - ./docker/setup.sh:/setup.sh
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
    entrypoint: ["/setup.sh"]

volumes:
  db_data:
  wp_data:
